@import 'base';
@import 'compass';

/* GENERAL */
body,
html {
	height: 100%;
	width: 100%;
	font-family: "Source Sans Pro", "Helvetica Neue" Arial;
	font-size: 10px;
}


#wrapper,
#padding {
	@include bz();
	overflow: hidden;
}

#squares {
	overflow: auto;
}

#wrapper {
	height: 100%;
	width: 100%;
}

#squares {
	width: 100%;
	height: 100%;
}

#padding {
	position: absolute;
	width: 100%;
	height: 100%;
}

body {
/*
background-color: #ffffff; // Old browsers
@include filter-gradient(#ffffff, #f2f2f2, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(radial-gradient(center, ellipse cover,  #ffffff 76%,#f2f2f2 100%));
*/
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 70%, rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(70%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))), rgb(235,235,232); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*/ GENERAL /*/

/* CLASSES */

.logo {


	#logo {
		position: absolute;
		width: 120px;
		height: 120px;
		left: 50%;
		top: 50%;
		margin-left: -60px;
		margin-top: -60px;
	}

}
/*/ CLASSES /*/


/* SQUAwRE LOGIC */
.square {
	@include trans_all_browsers(150ms);
	@include square();
	cursor: pointer;
	overflow: hidden;

	&.not-clickable {
		cursor: default;
	}

	&.Print {
		// yellow
		background-image: $print-image;
	}

	&.Web {
		// orange
		background-image: $web-image;
	}

	&.Film {
		// red
		background-image: $film-image;
	}

	&.Foto {
		// torquise
		background-image: $foto-image;
	}

	&.Installation {
		// mint
		background-image: $installation-image;
	}

	&.small,
	&.big {
		.attachment-square-thumb,
		.message,
		.category {
			display: none;
		}
	}

	.message,
	.category {
		position: absolute;
		line-height: 20px;
		font-size: 10px;
		font-weight: 700;
		padding: 6px;
		color: #fff;
		width: 100%;
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.message {
		position: absolute;
		bottom: 0;
		height: auto;
	}

	.category {
		position: absolute;
		top: 0;
		height: 20px;
		text-transform: uppercase;
	}

	.attachment-square-thumb {
		position: absolute;
		height: 100%;
		width: auto;
	}


	&.small {
		width: $small-size;
		height: $small-size;
	}

	&.big {
		width: $big-size;
		height: $big-size;
	}

	&.expand {
		width: $expanded-size;
		height: $expanded-size;

		z-index: 20;

		.message,
		.category,
		.attachment-square-thumb {
			display: block;
		}
	}

	&.countdown {
		width: $expanded-size;
		height: $expanded-size;
		color: #fff;
		font-size: 24px;
		line-height: 40px;
		background: url("img/squares/blue_big.jpg");

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&.seconds {
			.info-inner {
				.info-content {
					.countdown-number {
						font-size: 42px;
					}
				}
			}
		}

		.info-inner {
			display: table;
			height: 100%;
			width: 100%;
			text-align: center;
			vertical-align: middle;

			.info-content {
				display: table-cell;
				vertical-align: middle;

				.countdown-number {
					font-size: 50px;
					line-height: 60px;
					font-weight: 700;
				}
			}
		}
		
	}
}


/*/ SQUARE LOGIC /*/

/* NEWSLETTER */


#cn-newsletter-btn {
	position: absolute;
	bottom: 0;
	text-align: center;
	bottom: 20px;
	width: 100%;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	z-index: 10;


	#show-newsletter-btn {
		color: #000;
		font-weight: 400;
		text-decoration: none;
	}

}

#cn-ol-newsletter {
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
	z-index: 10;

	&.stuckAway {
		margin-top: -6000px;
	}


	#in-ol-newsletter {
		display: table-cell;
		vertical-align: middle;
		
		#in-cn-newsletter {
			position: relative;
			width: 400px;
			height: auto;
			border: 1px solid #efefef;
			margin: auto;
			padding: 45px 30px;
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 0 2px 8px 0px rgba(0,0,0,0.1);

			#newsletter-title {
				font-weight: 700;
				font-size: 12px;
				width: 100%;
				height: 60px;
				line-height: 30px;
			}

			#newsletter-text {
				width: 400px;
				margin: auto;
				text-align: left;
				font-size: 13px;
				line-height: 1.6em;
				margin: 35px 0;
			}

			#close-newsletter-btn {
				position: absolute;
				top: 15px;
				right: 15px;
				height: 20px;
				width: 20px;
			}

			form {
				.yks-mailchimpFormDivRow,
				.yks-mailchimpFormDivRowField,
				.yks-mailchimpFormDivSubmit,
				p {
					height: 35px;
					width: 100%;

					input {
						width: 100%;
						height: 100%;
						padding: 10px;
						box-sizing: border-box;
						-moz-box-sizing: border-box;
						font-size: 14px;
						text-align: center;
					}

					input[type="text"] {
						border: 1px solid #efefef;
					}

					input[type="submit"]{
						background: orange;
						border: none;
						color: #fff;
						font-weight: 700;
						font-size: 12px;
					}
				}
			}
		}
	}
}
 
/*/ NEWSLETTER /*/







