@import 'base';
@import 'compass';

/* GENERAL */
body,
html {
	height: 100%;
	width: 100%;
	font-family: "Source Sans Pro", "Helvetica Neue" Arial;
	font-size: 10px;
}

svg {
	width: 0;
	height: 0;
	float: left;
}

ul, li {
	padding: 0;
	margin: 0;
}

li {
	width: 50px;
	height: 45px;
}

#scene,
#wrapper {
	height: 100%;
	width: 100%;
}

body {
background-color: #ffffff; // Old browsers
@include filter-gradient(#ffffff, #f2f2f2, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(radial-gradient(center, ellipse cover,  #ffffff 76%,#f2f2f2 100%));
}
/*/ GENERAL /*/

/* CLASSES */
.triangle {
	text-align: center;
	position: absolute;
	@include trans(200ms);

	&.up.small {
		@include triangle($up-small);
	}

	&.up.big {
		@include triangle($up-big);
	}

	&.up.extended {
		@include triangle($up-extended);
	}

	&.down.small {
		@include triangle($down-small);
	}

	&.down.big {
		@include triangle($down-big);
	}

	&.down.extended {
		@include triangle($down-extended);
	}

	&.small {
		height: $small-height;
		width: $small-width;
	}

	&.big {
		height: $big-height;
		width: $big-width;
	}

	&.extended {
		height: $extended-height;
		width: $extended-width;
		z-index: 5;
	}

	img {
		position: absolute;
		left: 0;
		top: 0;
	}

	&.up .message {
		bottom: 0;
	}

	&.down .message {
		top: 0;
	}

	.message {
		position: absolute;
		height: auto;
		min-width: 100%;
		padding: 3px 18px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		color: #fff;
		font-weight: 600;
	}

	.category {
		position: relative;
		width: 100%;
		height: 100%;
		display: table;
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;

		.circle-wrapper {
			
			display: table-cell;
			vertical-align: middle;

			text-align: center;
	
			.circle {
				width: 50px;
				height: 50px;
				border-radius: 25px;
				line-height: 50px;
				margin: auto;
				color: #fff;
			}
		}
	}
}

.Web {
	background: #ed2a2a;
}

.Print {
	background: #5c89f0;
}

.Foto {
	background: #bfea3d;
}

.Film {
	background: #f4c82e;
}
/*/ CLASSES /*/ 


/* TRIANGLE LOGIC */
.triangle {
	&.small,
	&.big {
		img,
		.category,
		.message {
			display: none;
		}
	}
}

.logo {

	z-index: -10;

	#logo {
		position: absolute;
		width: 120px;
		height: 120px;
		left: 50%;
		top: 50%;
		margin-left: -60px;
		margin-top: -60px;
		z-index: -2;
	}

}
/*/ TRIANGLE LOGIC /*/

/* NEWSLETTER */


#cn-newsletter-btn {
	position: absolute;
	bottom: 0;
	text-align: center;
	bottom: 20px;
	width: 100%;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	z-index: 10;


	#show-newsletter-btn {
		color: #000;
		font-weight: 400;
		text-decoration: none;
	}

}

#cn-ol-newsletter {
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
	z-index: 10;

	&.stuckAway {
		margin-top: -6000px;
	}


	#in-ol-newsletter {
		display: table-cell;
		vertical-align: middle;
		
		#in-cn-newsletter {
			position: relative;
			width: 400px;
			height: auto;
			border: 1px solid #efefef;
			margin: auto;
			padding: 45px 30px;
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 0 2px 8px 0px rgba(0,0,0,0.1);

			#newsletter-title {
				font-weight: 700;
				font-size: 12px;
				width: 100%;
				height: 60px;
				line-height: 30px;
			}

			#newsletter-text {
				width: 400px;
				margin: auto;
				text-align: left;
				font-size: 13px;
				line-height: 1.6em;
				margin: 35px 0;
			}

			#close-newsletter-btn {
				position: absolute;
				top: 15px;
				right: 15px;
				height: 20px;
				width: 20px;
			}

			form {
				.yks-mailchimpFormDivRow,
				.yks-mailchimpFormDivRowField,
				.yks-mailchimpFormDivSubmit,
				p {
					height: 35px;
					width: 100%;

					input {
						width: 100%;
						height: 100%;
						padding: 10px;
						box-sizing: border-box;
						-moz-box-sizing: border-box;
						font-size: 14px;
						text-align: center;
					}

					input[type="text"] {
						border: 1px solid #efefef;
					}

					input[type="submit"]{
						background: orange;
						border: none;
						color: #fff;
						font-weight: 700;
						font-size: 12px;
					}
				}
			}
		}
	}
}
 
/*/ NEWSLETTER /*/







