@import 'base';
@import 'compass';

/* GENERAL */
body,
html {
	height: 100%;
	width: 100%;
	font-family: "Trade Gothic", "Source Sans Pro", "Helvetica Neue" Arial;
	font-size: 10px;
}


#wrapper,
#padding {
	@include bz();
	overflow: hidden;
}

#squares {
	overflow: auto;
}

#wrapper {
	height: 100%;
	width: 100%;
}

#squares {
	width: 100%;
	height: 100%;
}

#padding {
	position: absolute;
	width: 100%;
	height: 100%;
}

body {
/*
background-color: #ffffff; // Old browsers
@include filter-gradient(#ffffff, #f2f2f2, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(radial-gradient(center, ellipse cover,  #ffffff 76%,#f2f2f2 100%));
*/
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 70%, rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(70%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))), rgb(235,235,232); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 70%,rgba(0,0,0,0.1) 100%), rgb(235,235,232); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*/ GENERAL /*/

/* CLASSES */

.logo {


	#logo {
		position: absolute;
		width: 120px;
		height: 120px;
		left: 50%;
		top: 50%;
		margin-left: -60px;
		margin-top: -60px;
	}

}
/*/ CLASSES /*/


/* SQUARE LOGIC */
.square {
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	@include trans_all_browsers(150ms);
	
	cursor: pointer;
	overflow: hidden;

	&.not-clickable {
		cursor: default;
	}

	&.Print {
		// yellow
		background-image: $yellow-image;
	}

	&.Web {
		// orange
		background-image: $violett-image;
	}

	&.Film {
		// red
		background-image: $blue-image;
	}

	&.Foto {
		// torquise
		background-image: $red-image;
	}

	&.Installation {
		// mint
		background-image: $mint-image;
	}

	&.small,
	&.big {
		.attachment-square-thumb,
		.message,
		.category {
			display: none;
		}
	}

	.message,
	.category {
		position: absolute;
		line-height: 20px;
		font-size: 10px;
		font-weight: 700;
		padding: 6px;
		color: #fff;
		width: 100%;
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.message {
		position: absolute;
		bottom: 0;
		height: auto;
	}

	.category {
		position: absolute;
		top: 0;
		height: 20px;
		text-transform: uppercase;
	}

	.attachment-square-thumb {
		position: absolute;
		height: 100%;
		width: auto;
	}


	&.small {
		width: $small-size;
		height: $small-size;

	}

	&.big {
		width: $big-size;
		height: $big-size;

	}

	&.expand {
		width: $expanded-size;
		height: $expanded-size;

		z-index: 20;

		.message,
		.category,
		.attachment-square-thumb {
			display: block;
		}
	}

	&.seconds {
		background: $orange-image;
	}

	&.minutes {
		background: $red-image;
	}

	&.hours {
		background: $blue-image;
	}

	&.days {
		background: $mint-image;
	}

	&.weeks {
		background: $yellow-image;
	}

	&.werkschau-square {
		background: $violett-image;
	}

	&#newsletter {
		background: $blue-image;

		.top-message {
			font-size: 18px;
			line-height: 25px;
			color: white;
		}

		.mail-field {
			position: absolute;
			bottom: 20px;
			width: 160px;
		}

		.info-inner {
			.info-content {
				padding: 20px;
				margin-top: 15px;
				text-align: center;
				box-sizing: border-box;
				-moz-box-sizing: border-box;

				.yks-success,
				.yks-error {
					padding: 10px;
					background: #AEC0E6;
					border: 1px solid #fff;
					color: #fff;
					font-size: 11px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					width: 160px;
				}

				.yks-error {
					background: #B14924;
				}

				.yks-mailchimpFormDivRowField {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					width: 100%;

					.yks-require {
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						width: 100%;
						height: 30px;
						background: none;
						border: 1px solid white;
						color: white;
						padding: 5px 6px 1px;
						font-size: 14px;
						margin-bottom: 10px;

					}



					::-webkit-input-placeholder {
					   @include placeholder();
					}

					:-moz-placeholder { /* Firefox 18- */
					   @include placeholder();
					}

					::-moz-placeholder {  /* Firefox 19+ */
					   @include placeholder(); 
					}

					:-ms-input-placeholder {  
					   @include placeholder();  
					}
				}

				p {
					margin: 0;
				}


				.yks-mailchimpFormDivSubmit {
					margin-top: 0;
					height: 30px;

					input {
						border: none;
						background: white;
						color: #C2D0EB;
						font-weight: 400;
						font-size: 14px;
						height: 30px;
						width: 100%;
						line-height: 30px;

					}
				}
			}
		}
	}

	&.countdown {
		width: 3*$small-size;
		height: 3*$small-size;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
	}

	&.countdown,
	&.werkschau-square {
		color: #fff;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: 0px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;


		.info-inner {
			display: table;
			height: 100%;
			width: 100%;
			text-align: center;
			vertical-align: middle;

			.info-content {
				display: table-cell;
				vertical-align: middle;

				.countdown-number {
					font-size: 30px;
					line-height: 50px;
					font-weight: 700;
				}

				.werkschau-title {
					font-weight: 700;
					font-size: 28px;
					line-height: 40px;

				}
			}
		}
		
	}
}

.werkschau-square,
#newsletter {
	width: 2*$big-size;
	height: 2*$big-size;
}

/*/ SQUARE LOGIC /*/






