// MIXINS

@mixin trall($duration){
	-webkit-transition: all $duration ease-in-out;
	-moz-transition: all $duration ease-in-out;
	-ms-transition: all $duration ease-in-out;
	-o-transition: all $duration ease-in-out;
	transition: all $duration ease-in-out;
}

@mixin trcu($duration){
	-webkit-transition: all $duration cubic-bezier(.3,.17,.55,.35);
	-moz-transition: all $duration cubic-bezier(.3,.17,.55,.35);
	-ms-transition: all $duration cubic-bezier(.3,.17,.55,.35);
	-o-transition: all $duration cubic-bezier(.3,.17,.55,.35);
	transition: all $duration cubic-bezier(.3,.17,.55,.35);
}

//FIXES

html,
body {
	padding: 0;
	margin: 0;
}

body {
	text-rendering: geometricPrecision;
}

html,
body,
#wrapper {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

#section-list {
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	position: fixed;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none none inside;
}

p {
	margin: 0;
	padding: 0;
}

// CLASSES

.fullwidth {
	width: 100%;
}

.fullheight {
	height: 100%;
}

.fullscreen {
	width: 100%;
	height: 100%;
}

.section {
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;

	@include trall(400ms);
}

.nav-placeholder {
	height: 80px;
}


.first {
	padding-top: $nav-height;
}

.whitelink {
	color: white;

	&:hover {
		color: $hover-blue;
	}
}

//GENERAL

body {
	background: $bg;
	font-family: $trade-cn;
	font-size: $standard-font-size;
}

a {
	color: $standard_dark;

	&:hover {
		color: $hover-blue;
	}
}

