// COLORS

$standard_dark: 	#303030;
$standard_light: 	#444;
$hover-orange: 	#ff7300;
$hover-blue: 		#7cceeb;
$bg: 					#ebebe8;

// NAVIGATION

$nav-height: 80px;
$nav-font-size: 20px;

$mobile-nav-height: 44px;


// FONTS

@font-face {
	font-family: 'Trade Gothic Condensed';
	src: url('fonts/TradeGothicLTStd-Cn18.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Trade Gothic';
	src: url('fonts/TradeGothicLTStd.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Trade Gothic Bold';
	src: url('fonts/TradeGothicLTStd-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Trade Gothic Light';
	src: url('fonts/TradeGothicLTStd-Light.ttf');
	font-weight: 300;
}

$trade: 'Trade Gothic Light', 'Helvetica', Arial, sans-serif;
$trade-cn: 'Trade Gothic Condensed', 'Helvetica', Arial, sans-serif;
$trade-b: 'Trade Gothic Bold', 'Helvetica', Arial, sans-serif;
$trade-r: 'Trade Gothic', 'Helvetica', Arial, sans-serif;
$standard-font-size: 12pt;

// IMAGES

$sprite: url('img/icons.png');